
<div class="row">
    <div class="col-xs-12">
        <a class="list-group list-group-horizontal recipe-card"> 
            <div class="col-md-8">
                <h4 class="list-group-item-heading">{{_recipe._name}}</h4>
                <p class="list-group-item-text">{{_recipe._note}}</p>
            </div>
            <div class="col-md-4">
                <img [src]="_recipe._imagePath" [alt]="_recipe._name" class="img-responsive">
            </div>
        </a>
        <br>
    </div>
</div>